// Colors

$white: #fff;

$color-primary:;
$color-secondary:;
$color-accent:;
$color-shade:;

$color-text:;
$color-bg:;
$color-bg-light:;

// Fonts
$font-stack-primary:;

// Breakpoints
$break-xs: 320px;
$break-m: 768px;
$break-l: 1000px;

