// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-text: #777;
$color-border: #ccc;

$color-btn-def: #51ddfc; 
$color-btn-err: #e4757a;
$color-btn-info: #927bc1;
$color-btn-succ: #63cc82;
$color-btn-warn: #fd7856;


// Breakpoints
$break-m: 768px;

