// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-text: #777;
$color-border: #ccc;

$color-btn-bg: (
    'def': #51ddfc,
    'err': #e4757a,
    'info': #927bc1,
    'succ': #63cc82,
    'warn': #fd7856,
);

// Breakpoints
$break-m: 768px;

