.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.2s;
    &:hover {
      background-color: lighten($amount: 15%);
    }
    @include for-tablet {
        padding: 10px 30px;
        + .btn {
            margin-left: 10px;
          }
    }
  }

  .default {
    background-color: #51ddfc;
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color: #927bc1;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }